.form-style-override {
  margin: 10px 5px;
}

.product-thumbnail {
  height: 120px!important;
}

.cart-table {
  margin-bottom: 25px;
}

.cart-title {
  margin: 10px;
}

.cart-icon {
  height: 20px!important;
}


.flex-totals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkout-form-container {
  width: 350px;
  margin: 10px auto;
  background-color: green;
}

.centered {
  margin: 0 auto;
}

.align-center {
  text-align: center;
}


/* ---------------------------------------------
                    BUTTONS
--------------------------------------------- */

.watching {
  background-color: #1f95ff!important;
  color: white!important;
}


/* ---------------------------------------------
                    HOME PAGE
--------------------------------------------- */

.product-search-icons {
  height: 200px!important;
}

.form-sh button.btn {
  background: #1d99ff;
  color: #ffffff;
  min-height: 55px;
  width: 100%;
  line-height: 38px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 3px;
}


/* ---------------------------------------------
                    FOOTER PAGE
--------------------------------------------- */
@media only screen and (min-width: 600px) {
.float-left {
  float: left!important;
}
}


.social-logo {
  width: 20px!important;
}