.form-style-override {
  margin: 10px 5px;
}

.product-thumbnail {
  height: 120px!important;
}

.cart-table {
  margin-bottom: 25px;
}

.cart-title {
  margin: 10px;
}

.cart-icon {
  height: 20px!important;
}


.flex-totals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}