{% load static %}
<div class="col-md-4 col-sm-6">
  <div class="small-box-c">
    {% if instance.image %}
    <div class="small-img-b">
      
      <a href='{{ instance.get_absolute_url }}'><img src="{{ instance.image.url }}" alt="#" /></a>
    </div>
    {% else %}
    <div class="small-img-b">
      <a href='{{ instance.get_absolute_url }}'><img src="{% static 'img/tr1.png' %}" alt="#" /></a>
    </div>
    {% endif %}
    <div class="dit-t clearfix">
      <div class="left-ti">
        <h4>{{ instance.title }}</h4>
        <p>Species: <span>{{ instance.material }}</span></p>
      </div>
      <a href='{{ instance.get_absolute_url }}' tabindex="0">£{{ instance.price }}</a>
    </div>
    <div class="prod-btn">
      <form method="GET" action="{% url 'watchlist' product_id=instance.id %}" id='watch-form' onsubmit="return watchToggle(event)">
        <input name="product_id" value='{{ instance.id }}' type="hidden" />
        <span id="watch-buttons{{instance.id}}">
      {% if instance in watchlist.products.all %}
      <button type="submit"  class="watching" ><i class="fa fa-star" aria-hidden="true"></i> Remove wishlist</button>
      {% else %}
      <button type="submit"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</button>
      {% endif %}
    </span>
      <p>New</p>
    </form>
    </div>
  </div>
</div>