{% load static %}
<footer>
  <div class="main-footer">
     <div class="container">
        <div class="row">
           <div class="footer-top clearfix">
             {% if not request.user.is_authenticated %}
              <div class="col-md-2 col-sm-6">
                 <h2>Start a free
                    account today
                 </h2>
              </div>
              <div class="col-md-6 col-sm-6">
                 <div class="form-box">
                   <form method="POST" action="{% url 'register' %}">{% csrf_token %}
                    <input name='email' type="text" placeholder="Enter your e-mail" />
                    <button type="submit">Continue</button>
                  </form>
                 </div>
              </div>
              {% else %}
              <div class="col-md-8 col-sm-6">
                <h2>We are always happy to chat about Bamboo
                </h2>
             </div>
             {% endif %}
              <div class="col-md-4 col-sm-12">
                 <div class="help-box-f">
                    <h4>Question? Call us on 12 34 56 78 for help</h4>
                    <p>Easy setup - no payment fees - up to 100 products for free</p>
                 </div>
              </div>
           </div>
          
        </div>
     </div>
  </div>
  <div class="copyright">
     <div class="container">
        <div class="row">
           <div class="col-md-8">
            <ul class="list-inline socials float-left">
              <li><p><img width="25" src="{% static 'img/Blogo.png' %}" alt="#" style="margin-top: -5px;" /> All Rights Reserved. Company Name © {% now "Y" %}</p></li>
            </ul>
           </div>
           <div class="col-md-4">
              <ul class="list-inline socials">
                <li>
                  <a href="{% url 'about' %}">
                    <p> About</p>
                  </a>
               </li>
                 <li>
                    <a href="https://www.facebook.com/">
                    <img src="{% static 'img/fblogo.png' %}" class="social-logo" aria-hidden="true" />
                    </a>
                 </li>
                 <li>
                    <a href="https://www.instagram.com/">
                      <img src="{% static 'img/instalogo.png' %}" class="social-logo" aria-hidden="true" />
                    </a>
                 </li>
                 <li>
                    <a href="https://twitter.com/">
                      <img src="{% static 'img/twitterlogo.png' %}" class="social-logo" aria-hidden="true" />
                    </a>
                 </li>
                 <li>
                    <a href="https://www.whatsapp.com/">
                      <img src="{% static 'img/whatslogo.png' %}" class="social-logo" aria-hidden="true" />
                    </a>
                 </li>
              </ul>
           </div>
        </div>
     </div>
  </div>
</footer>