{% load static %}
<header id="header" class="top-head">
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
     <div class="container-fluid">
        <div class="row">
           <div class="col-md-4 col-sm-12 left-rs">
              <div class="navbar-header">
                 <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> 
                 <span class="sr-only">Toggle navigation</span> 
                 <span class="icon-bar"></span> 
                 <span class="icon-bar"></span> 
                 <span class="icon-bar"></span> 
                 </button>
             
                 <a href="{% url 'home' %}" class="navbar-brand">BAMBOO</a>
              </div>
              <form method="GET" action="{% url 'search' %}" class="navbar-form navbar-left web-sh">
                 <div class="form">
                    <input name='q' type="text" class="form-control" placeholder="Search for products or companies" value='{{ request.GET.q}}'>
                 </div>
              </form>
           </div>
           <div class="col-md-8 col-sm-12">
              <div class="right-nav">
                 <div class="login-sr">
                    <div class="login-signup">
                       <ul>
                         {% if request.user.is_authenticated %}
                          <li><a href="{% url 'logout' %}">Logout</a></li>
                          {% else %}
                          <li><a href="{% url 'login' %}">Login</a></li>
                          <li><a class="custom-b" href="{% url 'register' %}">Sign up</a></li>
                          {% endif %}
                       </ul>
                    </div>
                 </div>
                 <div class="help-r hidden-xs">
                    <div class="help-box">
                       <ul>
                          <li> <a href="{% url 'about' %}"> About </a> </li>
                          <li> <a href="{% url 'carthome' %}"><img class="cart-icon" src="{% static 'img/cartIcon.png' %}" alt="" /> {{request.session.cart_items}} </a></li>
                          <li> <a href="{% url 'watching' %}"><img class="cart-icon" src="{% static 'img/heartIcon.png' %}" alt="" /><span id='watchlist-count'>{{request.session.watchlist_items}} </span> </a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="nav-b hidden-xs">
                    <div class="nav-box">
                       <ul>
                          <li><a href="{% url 'list' %}">Products</a></li>
                          <li><a href="{% url 'contact' %}">Contact Us</a></li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!--/.container-fluid --> 
  </nav>
</header>

<!-- Mobile Side Navbar  -->
<div id="sidebar" class="top-nav">
  <ul id="sidebar-nav" class="sidebar-nav align-center padded">
    <li class="inline-icon"> <a href="{% url 'carthome' %}"><img class="cart-icon margin-5" src="{% static 'img/cartIconWhite.png' %}" alt="" /> {{request.session.cart_items}} </a></li>
    <li class="inline-icon"> <a href="{% url 'watching' %}"><img class="cart-icon margin-5" src="{% static 'img/heartWhite.png' %}" alt="" /><span id='watchlist-count'>{{request.session.watchlist_items}} </span> </a></li>
    <li> <a href="{% url 'about' %}"> About </a> </li>
    <li><a href="{% url 'list' %}">Products</a></li>
    <li><a href="{% url 'contact' %}">Contact Us</a></li>
  </ul>
</div>