{% extends 'common/base.html' %}
{% load static %}

{% block content %}

<div class="main-template-about">
  <div class="section-gradient">
     <div class="map"></div>
     <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2 align-center">
              <div class="wow animate__animated animate__fadeInDown" data-wow-delay="0.0s">
                 <h1>Fairtrade Suppliers
                    Great Products.
                 </h1>
                 <p class="lead">Our trusted suppliers are fairly traded with to ensure continued and sustained growth. All suppliers have fair opportunities. Every plant which is removed, we replace by planting four new plants and stimulating the wildlife.
                    <br>
                    <br>
                    Go sign up and get inspired!
                 </p>
              </div>
              <div class="about-icons row">
                 <div class="col-xs-4 wow fadeIn" data-wow-delay="0.0s"><img src="{% static 'img/about-icon-1.png' %}" alt=""/></div>
                 <div class="col-xs-4 wow fadeIn" data-wow-delay="0.2s"><img src="{% static 'img/about-icon-1.png' %}" alt=""/></div>
                 <div class="col-xs-4 wow fadeIn" data-wow-delay="0.4s"><img src="{% static 'img/about-icon-1.png' %}" alt=""/></div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="section do">
     <div class="blue-light"></div>
     <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
              <div class="does-box">
                 <div class="panel-body">
                    <h2>Elegant Bamboo Forestry</h2>
                    <p>Bamboo forestry (also known as bamboo farming, cultivation, agriculture or agroforestry) is a cultivation and raw material industry that provides the raw materials for the broader bamboo industry.
                    </p>
                    <p>Historically, a dominant raw material in South and South East Asia, the global bamboo industry has signficantly grown in recent decades in part because of the high sustainability of bamboo as compared to other biomass cultivation strategies, such as traditional timber forestry. For example, as of 2016, the U.S. Fiber corporation Resource Fiber is contracting farmers in the United States for Bamboo cultivation. Or in 2009, United Nations Industrial Development Organization published guidelines for cultivation of bamboo in semi-arid climates in Ethiopia and Kenya.
                    </p>
                    <p>Because bamboo can grow on otherwise marginal land, bamboo can be profitably cultivated in many degraded lands. Moreover, because of the rapid growth bamboo is an effective Climate change mitigation and carbon sequestration crop, absorbing between 100 and 400 tonnes of carbon per hectare.In 1997, an international intergovernmental organization was established to promote the development of the bamboo cultivation, the International Bamboo and Rattan Organisation.
                    </p>
                    <p>Bamboo is harvested from both cultivated and wild stands, and some of the larger bamboos, particularly species in the genus Phyllostachys, are known as "timber bamboos". Bamboo is typically harvested as a source material for construction, food, crafts and other manufactured goods. Bamboo cultivation in South, South East Asia and East Asia stretches back thousands of years. One practice, in South Korea, has been designated as a Globally Important Agricultural Heritage Systems.
                    </p>
                 </div>
                 <img class="wow fadeIn" src="images/mac-about.png" alt="" />
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="section account-box">
     <div class="blue-dark"></div>
     <div class="light-blue-grad"></div>
     <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
              <div class="blue-form">
                 <h2>Start a free account today</h2>
                 <div class="form-box">
                  <form method="POST" action="{% url 'register' %}">{% csrf_token %}
                   <input name='email' type="text" placeholder="Enter your e-mail" />
                   <button type="submit">Continue</button>
                 </form>
                </div>
                 <p>Easy setup - no payment fees - up to 100 products for free</p>
                 <div class="blue-form_question"><strong>Questions?</strong> Call us on 12 34 56 78 for help.</div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="section-white">
     <div class="container">
        <div class="row">
         
           <div class="col-lg-8 col-lg-offset-2 wow fadeIn" style="margin-bottom:15px;" data-wow-delay="0.2s">
              <img class="img-responsive" src="images/lag-60.png" alt="" />
           </div>
         
           <div class="col-lg-8 col-lg-offset-2 wow fadeIn" style="margin-bottom:15px;" data-wow-delay="0.2s">
              <img src="images/lag-61.png" alt="" />
           </div>
           <div class="col-lg-8 col-lg-offset-2">
              <h2>The ball is now yours.</h2>
              <p>Easy ordering with all the great info on the different bamboos, excellent communication on the delivery, great after sales help with quick answers to questions, helpful email reminders for care and watering.</p>
           </div>
     
        </div>
     </div>
  </div>
</div>

{% endblock %}