{% extends 'common/base.html' %}
{% load static %}

{% block content %}

<div class="main-template-about">
  <div class="section-gradient">
     <div class="map"></div>
     <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
              <div class="wow fadeIn" data-wow-delay="0.0s">
                 <h1>Expand business.
                    Inspiring you to success.
                 </h1>
                 <p class="lead">Here at Chamb, we want you to find new connections, grow profitable relationships, and make more money than you could ever dream of making. Sound like something you’d like to do? Then what are you reading this for?
                    <br>
                    <br>
                    Go sign up and get inspired!
                 </p>
              </div>
              <div class="about-icons row">
                 <div class="col-xs-4 wow fadeIn" data-wow-delay="0.0s"><img src="{% static 'img/about-icon-1.png' %}" alt=""/></div>
                 <div class="col-xs-4 wow fadeIn" data-wow-delay="0.2s"><img src="{% static 'img/about-icon-1.png' %}" alt=""/></div>
                 <div class="col-xs-4 wow fadeIn" data-wow-delay="0.4s"><img src="{% static 'img/about-icon-1.png' %}" alt=""/></div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="section do">
     <div class="blue-light"></div>
     <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
              <div class="does-box">
                 <div class="panel-body">
                    <h2>What Does Chamb Do</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                       eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
                       voluptatem quia dolore magnam aliquam quaerat voluptatem.
                    </p>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                       consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel 
                       illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                    </p>
                    <p>We took it upon ourselves to change that. We developed a burning desire to create something to bridge the chasms between 
                       businesses across country and continent. So, with a goal in mind, a skilled team at hand, Chamb sprung forth: the website 
                       that helps discover and build profitable long-lasting networks amongst businesses around the world.
                    </p>
                 </div>
                 <img class="wow fadeIn" src="images/mac-about.png" alt="" />
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="section account-box">
     <div class="blue-dark"></div>
     <div class="light-blue-grad"></div>
     <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
              <div class="blue-form">
                 <h2>Start a free account today</h2>
                 <form class="form-inline">
                    <input type="email" placeholder="Enter your e-mail" />
                    <button type="submit" class="btn btn-primary">Continue</button>
                 </form>
                 <p>Easy setup - no payment fees - up to 100 products for free</p>
                 <div class="blue-form_question"><strong>Questions?</strong> Call us on 12 34 56 78 for help.</div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="section-white">
     <div class="container">
        <div class="row">
         
           <div class="col-lg-8 col-lg-offset-2 wow fadeIn" style="margin-bottom:15px;" data-wow-delay="0.2s">
              <img class="img-responsive" src="images/lag-60.png" alt="" />
           </div>
         
           <div class="col-lg-8 col-lg-offset-2 wow fadeIn" style="margin-bottom:15px;" data-wow-delay="0.2s">
              <img src="images/lag-61.png" alt="" />
           </div>
           <div class="col-lg-8 col-lg-offset-2">
              <h2>The ball is now yours.</h2>
              <p>Over the coming years, the way that business through the web works will change at a great level - and Chamb is the gamebreaker. Customers will expect options of where and how to buy: in-store or online, delivered or for pick-up. It’s an incredibly exciting time for this industry, and we’re going to be right at the centre of it.</p>
              <p>So what are you waiting for? Sign up and create oppurtinities for your business.</p>
           </div>
     
        </div>
     </div>
  </div>
</div>

{% endblock %}