{% extends 'common/base.html' %}
{% load static %}

{% block content %}

<div class="page-content-product">
  <div class="main-product">
    <div class="container">
      <div class="row clearfix">
        <div class="find-box animate__animated animate__fadeInDown ">
          <h1>Sustainable is the<br>new fashionable</h1>
          <h4>And it has never been easier.</h4>
          <div class="product-sh">
            <div class="col-sm-9">
              <div class="form-sh">
                <form method="GET" action="{% url 'search' %}" >
                <input name='q' type="text" placeholder="Search something you love">
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-sh"> <button type="submit" class="btn">Search</button> </div>
            </div>
          </form>
            <p>Or simply<a href="{% url 'list' %}"> click here </a> and get inspired!</p>
          </div>
        </div>
      </div>
      <div class="row clearfix animate__animated animate__fadeInUp">
        <div class="col-lg-3 col-sm-6 col-md-3">
          <a href="{% url 'search'%}?q=furniture">
            <div class="box-img">
              <h4>Furniture</h4>
              <img class='product-search-icons' src="{% static 'img/1.png' %}" alt="" />
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-3">
          <a href="{% url 'search'%}?q=bathroom">
            <div class="box-img">
              <h4>Bathroom</h4>
              <img class='product-search-icons' src="{% static 'img/bathroomIcon.png' %}" alt="" />
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-3">
          <a href="{% url 'list' %}">
            <div class="box-img">
              <h4>Products</h4>
              <img class='product-search-icons' src="{% static 'img/productIcon.png' %}" alt="" />
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-3">
          <a href="{% url 'search'%}?q=gifts">
            <div class="box-img">
              <h4>Gifts</h4>
              <img class='product-search-icons' src="{% static 'img/giftsIcon.png' %}" alt="" />
            </div>
          </a>
        </div>

        <div class="categories_link">
          <a href="{% url 'list' %}">Browse all categories here</a>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="cat-main-box">
  <div class="container">
    <div class="row panel-row">
      <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.0s">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="{% static 'img/xpann-icon.jpg' %}" class="icon-small" alt="">
            <h4>Organic Farmed</h4>
            <p>We are against all pesitcide and artifical growing practices to ensure the best quality.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="{% static 'img/xpann-icon.jpg' %}" class="icon-small" alt="">
            <h4>Re-planting Bamboo</h4>
            <p>Every plant which is removed, we replace by planting four new plants and stimulating the wildlife.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 wow fadeIn hidden-sm" data-wow-delay="0.4s">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="{% static 'img/xpann-icon.jpg' %}" class="icon-small" alt="">
            <h4>Fairtrade Suppliers</h4>
            <p>Our trusted suppliers are fairly traded with to ensure continued and sustained growth. All suppliers have fair opportunities.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="products_exciting_box">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
        <div class="exciting_box f_pd">
          <img src="{% static 'img/xpann-icon.jpg' %}" class="icon-small" alt="" />
          <h4>Explore <strong>exciting</strong> and exotic products
            tailored to you.
          </h4>
          <p>There are over 1000 species of bamboo. This amazing plant grows in tropical and temperate environments and is very hardy, not needing pesticides or herbicides to grow well.  It is a type of grass and grows from it’s roots, when it is cut it quickly grows back with most species maturing in 3-5 years.


          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
        <div class="exciting_box l_pd">
          <img src="{% static 'img/xpann-icon.jpg' %}" class="icon-small" alt="" />
          <h4><strong>Energize your home experience </strong>with clean, responsible products</h4>
          <p>Additionally, bamboo fabric is breathable, thermal regulating, wicks moisture better than polyester performance fabrics, will resist odour and is absorbent and fast drying keeping you dryer and more comfortable than any cotton or polyester fabrics.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="start-free-box">
  <div class="container">
    <div class="row">
      <div class="main-start-box">
        <div class="bg_img_left"><img src="{% static 'img/bg_img1.png' %}" alt="#" /></div>
        <div class="container">
          <div class="buyer-box clearfix">
            <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
              <div class="left-buyer">
                <img class="img-responsive" src="{% static 'img/creat_pro.png' %}" alt="#" />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
              <div class="right-buyer">
                <h4>clean</h4>
                <h2>No mass producing<br>
                  <span>Unique and sustainable</span>
                </h2>
                <p>We have millions of one-of-a-kind items, so you can find whatever you need (or really, really want). We use best-in-class technology to protect your transactions.
                </p>
                {% if not request.user.is_authenticated %}
                <a href="{% url 'register' %}">Create a buyer account</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>




    {% endblock %}