{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<div class="product-page-main">
  <div class="container">
    <div class="cart-title">
      <h1>Checkout - Delivery Address</h1>
    </div>
    <div class="row cart-table">

      {% if not request.user.is_authenticated %}
      <div class="col-md-9 col-sm-8">
        <div class="checkout-form-container">
        <form method="POST" action="{% url 'login' %}" class="get-form"> {%csrf_token %}
          {{ login_form }}
          <input type="hidden" name='next' value="{{ request.build_absolute_uri }}" />
          <br />
          <div style='text-align:center; margin-top:10px'>
          <button class="btn btn-primary" type='submit' style='position:relative'>Send</button>
        </div>
        </form>
      </div>
      </div>

      {% else %}
      <div class="col-md-9 col-sm-8">
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}-message"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
        <form method="POST" action="{% url 'setaddress' %}" class="get-form address-form"> {%csrf_token %}
        {{ address_form }}
        <br />
        <div style='text-align:center; margin-top:10px'>
        <button class="btn btn-primary" type='submit' style='position:relative; margin: 0 auto' id="remove-button">Save</button>
        </form>
      </div>
      </div>
      {% endif %}


      <div class="col-md-3 col-sm-12">
        <div class="price-box-right">
          <h4>Summary</h4>
          <div class="flex-totals">
            <h5 class="flex-totals-item">Cart Cost:</h5>
            <h5 class="flex-totals-item">£{{ cart.total }}</h5>
          </div>
          <div class="flex-totals">
            <h5 class="flex-totals-item">Shipping Cost:</h5>
            <h5 class="flex-totals-item">£{{ object.shipping_total }}</h5>
          </div>
          <div class="flex-totals">
            <h5 class="flex-totals-item">Total:</h5>
            <h5 class="flex-totals-item">£{{ object.total }}</h5>
          </div>
          {% if not request.user.is_authenticated %}
          <p >Login to pay</p>
          {% else %}
          <a href="{% url 'payment' %}" class="generic-button">Make Payment</a>
          {% endif %}
       
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sorry! We are completely out of Stock!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Due to the unforeseen events of COVID19, we are currently suspending all bamboo transportation into the UK until we can confirm the utmost qualityof our products and safety of our staff and suppliers. Please check back in at  alater date to make payment.</p>
        <p>Thank you for your patience at this current time</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}