{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<div class="product-page-main">
  <div class="container">
    <div class="cart-title">
      <h1>Checkout</h1>
    </div>
    <div class="row cart-table">

      {% if not billing_profile %}
      <div class="col-md-9 col-sm-8">
        <div class="checkout-form-container">
        <form method="POST" action="{% url 'login' %}" class="get-form"> {%csrf_token %}
          {{ login_form }}
          <input type="hidden" name='next' value="{{ request.build_absolute_uri }}" />
          <br />
          <div style='text-align:center; margin-top:10px'>
          <button class="btn btn-primary" type='submit' style='position:relative'>Send</button>
        </div>
        </form>
      </div>
      </div>

      {% else %}
      <div class="col-md-9 col-sm-8">
        <p style="text-align:center; margin-top: 50px">No items in cart</p>
      </div>
      {% endif %}


      <div class="col-md-3 col-sm-12">
        <div class="price-box-right">
          <h4>Summary</h4>
          <div class="flex-totals">
            <h5 class="flex-totals-item">Cart Cost:</h5>
            <h5 class="flex-totals-item">£{{ cart.total }}</h5>
          </div>
          <div class="flex-totals">
            <h5 class="flex-totals-item">Shipping Cost:</h5>
            <h5 class="flex-totals-item">£{{ object.shipping_total }}</h5>
          </div>
          <div class="flex-totals">
            <h5 class="flex-totals-item">Total:</h5>
            <h5 class="flex-totals-item">£{{ object.total }}</h5>
          </div>
          <a href="#">Checkout</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}