{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<div class="product-page-main">
  <div class="container">
    <div class="cart-title">
      <h1>Your Cart</h1>
    </div>
    <div class="row cart-table">
      {% if cart.products.all  %}
      <div class="col-md-9 col-sm-8">
        <div class="md-prod-page">
          <div class="md-prod-page-in">
            <div class="page-preview">
              <table class="table cart-table">
                <thead>
                  <tr>
                    <th><abbr title="Position">No.</abbr></th>
                    <th>Image</th>
                    <th>Product</th>
                    <th><abbr title="Played">Price</abbr></th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in cart.products.all %}
                  <tr>
                    <th>{{ forloop.counter }}</th>
                    <td><a href="{{ product.get_absolute_url }}"><img class="product-thumbnail" src="{{ product.image.url }}" /></a></td>
                    <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
                    <td>{{ product.price }}</td>
                    <td>{% include 'carts/snippets/removeform.html' with object=product %}</td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <th></th>
                    <td></td>
                    <td>Subtotal:</td>
                    <td>{{ cart.subtotal }}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th></th>
                    <td></td>
                    <td>Total:</td>
                    <td>{{ cart.total }}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
           
          </div>
          
        </div>

      </div>
      {% else %}
      <div class="col-md-9 col-sm-8">
        <p style="text-align:center; margin-top: 50px">No items in cart</p>
      </div>
      {% endif %}
      <div class="col-md-3 col-sm-12">
        <div class="price-box-right">
          <h4>Summary</h4>
          <div class="flex-totals">
          <h5 class="flex-totals-item">Subtotal:</h5><h5 class="flex-totals-item">£{{ cart.subtotal }}</h5>
        </div>
        <div class="flex-totals">
          <h5 class="flex-totals-item">VAT international Tax:</h5><h5 class="flex-totals-item">£10.00</h5>
        </div>
        <div class="flex-totals">
          <h5 class="flex-totals-item">Total:</h5><h5 class="flex-totals-item">£{{ cart.total }}</h5>
        </div>
        {% if request.user.is_authenticated %}
            <a href="{% url 'checkout' %}">Checkout</a >
        {% else %}
            <a href="{% url 'login' %}">Checkout</a >
              {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}