{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<div class="product-page-main">
  <div class="container">
    <div class="cart-title">
      <h1>Bank Details  </h1>
    </div>
    <div class="row cart-table">

   
      <div class="col-md-9 col-sm-8">
        <p>Our services use Stripe as our payment processing service</p>
        <h3 class="payment-warning">NOTE: DO NOT USE REAL PAYMENT DETAILS, THIS IS NOT A REAL FUNCTIONING SITE AT THIS STAGE</h3>
        <br />
        <div class="payment-form">
        <form action="{% url 'charge' %}" method="post" id="payment-form">  {% csrf_token %}
          <div class="form-row">
            <label for="card-element">
              Credit or debit card
            </label>
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>
        
            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
          </div>
        <br />
          <button class="generic-button" >Submit Payment</button>
        </form>
      </div>
      </div>



      <div class="col-md-3 col-sm-12">
        <div class="price-box-right">
          <h4>Summary</h4>
          <div class="flex-totals">
            <h5 class="flex-totals-item">Cart Cost:</h5>
            <h5 class="flex-totals-item">£{{ cart.total }}</h5>
          </div>
          <div class="flex-totals">
            <h5 class="flex-totals-item">Shipping Cost:</h5>
            <h5 class="flex-totals-item">£{{ object.shipping_total }}</h5>
          </div>
          <div class="flex-totals">
            <h5 class="flex-totals-item">Total:</h5>
            <h5 class="flex-totals-item">£{{ object.total }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sorry! We are completely out of Stock!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Due to the unforeseen events of COVID19, we are currently suspending all bamboo transportation into the UK until we can confirm the utmost qualityof our products and safety of our staff and suppliers. Please check back in at  alater date to make payment.</p>
        <p>Thank you for your patience at this current time</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}